.accessibility {
    overflow: hidden;
    position: absolute;
    text-indent: -100%;
}
.alert p {
    margin:0;
}
@media (min-width: 979px) {
    .page.container { padding-top: 68px; }
}

form .attachment-view img {
    max-width: 150px;
    max-height: 150px;
}
a.btn { color: #333333; }
a.btn-primary { color: white; }
textarea { width: 100%; }
.product-attribute-label { font-weight: bold; }
